[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=katefilestoreplugin
X-Kate-Version=2.9
Name=File Store
Comment=Automatically store opened files in www to www_local
